{% extends "base.html" %} 
{% load static %}
{% block css_file %}
<link rel="stylesheet" href="{% static "Challenges/style.css" %}"/>
<link rel="stylesheet" href="{% static "Challenges/includes/header.css" %}"/>
{% endblock %}
{% block page_title %} 
{{ month_name | title }}'s Challenge 
{% endblock %} 
{% block content %} 
{% include "challenges/snippets/header.html" %}
<h1>{{ month_name | title }}'s challenge</h1>
{% if text is not None %}
<h2>{{ text }}</h2>
{% else %}
<h2>Just have fun!</h2>
{% endif %} 
{% endblock %}
